# ==========================
# Android / IntelliJ
# ==========================
**/.gradle/
**/.idea/
**/.kotlin/
**/build/
**/local.properties
*.iml

# ==========================
# Backend build
# ==========================
**/bin/
**/out/

# ==========================
# Secrets
# ==========================
.env
*.env
*.jks
*.keystore

# ==========================
# VS Code
# ==========================
**/.vscode/

# ==========================
# Operating System
# ==========================
Thumbs.db
.DS_Store